.scrollToTop:hover, .scrollToTop:focus{
  text-decoration: none;
  outline: none;
  background-color: #000;
}

#wait {
	width: 100%;
	position: absolute;
	z-index: 9999999;
	text-align: center;
	display: none;
	top: 0;
	bottom : 0;
	background: rgba(100, 100, 100, 0.5);
	padding-left : 0px;
	padding-top : 15%;
}

#loader {
    border: 16px solid #fff; 
    border-top: 16px solid #06d0d8;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin : auto;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#confirm-dialog-container, #alert-dialog-container {
	position: fixed;
	width: 99.9%;
	height: 100%;
	text-align: center;
	top: 0;
	background: rgba(100, 100, 100, 0.5);
	z-index: 9999999999999999999999999;
	padding-top: 16%;
	display: none;
}

#confirm-dialog-container i, #alert-dialog-container i {
    position: absolute;
    margin-left: -133px;
    margin-top: 9px;
    color: white; 
}

#confirm-dialog-container > div, #alert-dialog-container > div {
	background: #fcfdff;
    border: 1px solid #06d0d8;
    width: 300px;
    min-height: 120px;
    height: auto;
    display: block;
    margin: auto;
    z-index: 999999999999;
    padding: 0;
    padding-bottom: 5px;
}

#confirm-dialog-container span:nth-child(1), #alert-dialog-container span:nth-child(1) {
	text-align: left;
    width: 100%;
    display: block;
    background-color: #06d0d8;
    background-repeat: no-repeat;
    color: #F8F8F8;
    padding: 3px 8px 7px 5px;
    height: 34px;
}

#confirm-dialog-container span:nth-child(2), #alert-dialog-container span:nth-child(2) {
	display: block;
	font-size: 75%;
	padding: 15px;
}

#confirm-dialog-container a, #alert-dialog-container a {
	font-size: 75%;
    cursor: pointer;
    background: #06d0d8;
    color: white;
    padding: 6px;
    display: inline-block;
    width: 70px;
    margin-right: 5px;
    height: 31px;
    line-height: 20px;
    margin-left: 200px;
}

#confirm-dialog-container a#confirm-dialog-ok {
	margin-left : 130px;
} 

#confirm-dialog-container a#confirm-dialog-cancel {
	margin-left : 0px;
} 


@media(max-width:991px ){
	table th:nth-child(6) {display:none}
	table th:nth-child(7) {display:none}
	table td:nth-child(6) {display:none}
	table td:nth-child(7) {display:none}
}

@media(max-width:870px ){
	#confirm-dialog-container, #alert-dialog-container {padding-top:30%}
}

@media(max-width:767px ){
	#confirm-dialog-container, #alert-dialog-container {padding-top:32%}
	.buttons {position:relative;margin-top:-10px;right:0px;top:0px}
	.scrollToTop {right:45%}
}
@media(max-width:640px){
	#confirm-dialog-container, #alert-dialog-container {padding-top:40%}
	.buttons a {margin-bottom : 5px}
	table th:nth-child(5) {display:none}
	table td:nth-child(5) {display:none}
}
 
@media(max-width:480px ){
	#confirm-dialog-container, #alert-dialog-container {padding-top:30%}
	th,td{font-size: 0.7em}
	table th:nth-child(3) {display:none}
	table td:nth-child(3) {display:none}
	table th:nth-child(4) {display:none}
	table td:nth-child(4) {display:none}
	table th:nth-child(5) {display:none}
	table td:nth-child(5) {display:none}
}
@media(max-width:360px ){
	#confirm-dialog-container > div, #alert-dialog-container > div {width:90%}
}
@media(max-width:320px ){
	.scrollToTop {bottom : 5px}
}